.mainDiv{
    background-image: url('https://res.cloudinary.com/jskkegupo/image/upload/v1771991195/source/main_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @apply flex flex-col items-center m-4 md:m-6 rounded-[20px];
}